
@keyframes lookAround {
    0% {
        transform: translate(0, 0); /* Centro */
    }
    15% {
        transform: translate(-25px, -25px); /* Canto superior esquerdo, mais distante */
    }
    30% {
        transform: translate(30px, -30px); /* Canto superior direito, mais distante */
    }
    45% {
        transform: translate(-30px, 30px); /* Canto inferior esquerdo, mais distante */
    }
    60% {
        transform: translate(25px, 25px); /* Canto inferior direito, mais distante */
    }
    75% {
        transform: translate(-20px, 10px); /* Posição mais aleatória */
    }
    90% {
        transform: translate(15px, -20px); /* Outra posição mais aleatória */
    }
    100% {
        transform: translate(0, 0); /* Retorna ao centro */
    }
}

@keyframes lookAroundExtended {
    0% {
        transform: translate(0, 0); /* Centro */
    }
    20% {
        transform: translate(35px, -35px); /* Canto superior direito, ainda mais distante */
    }
    40% {
        transform: translate(-35px, 35px); /* Canto inferior esquerdo, ainda mais distante */
    }
    60% {
        transform: translate(30px, 30px); /* Canto inferior direito, ainda mais distante */
    }
    80% {
        transform: translate(-30px, -30px); /* Canto superior esquerdo, ainda mais distante */
    }
    100% {
        transform: translate(0, 0); /* Retorna ao centro */
    }
}






body{
    margin: 0%;
    padding: 0%;
    background: #333;
}

.eye{
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 75% 0;
    overflow: hidden top;
    cursor: pointer
}

.pupil {
    width: 40px;
    height: 40px;
    background: #222f3e;
    border-radius: 50%;
    border: 20px solid #576574;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: lookAround 10s infinite alternate ease-in-out;
}

.pupil.lookAround {
    animation: lookAroundExtended 15s infinite alternate ease-in-out; /* Aplica a animação estendida */
}

.pupil.mouse-active {
    animation: none; /* Desativa a animação quando a classe mouse-active é adicionada */
}

.shut {
    width: 300px;
    height: 170px;
    /*background: #333;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 999;
}

.shut span {
    display: block;
    width: 100%;
    height: 0%;
    background: #333;
    border-radius: 0 0 60% 60%;
    transition: 0.4s all;
}

.eye:hover > .shut span {
    height: 100%;

}


.text-container {
    
    margin-top: 500px; /* Ajuste conforme necessário */
    margin-right: 440px;
    margin-left: 440px;
}

.text-container iframe {
    width: 1000px; /* Ajuste o tamanho conforme necessário */
    height: 200px; /* Ajuste o tamanho conforme necessário */
    border: none;
}
